USE [Icase]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[color]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[color](
	[idproduct] [int] NOT NULL,
	[color] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryStatus]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryStatus](
	[idStatus] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_DeliveryStatus] PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device](
	[idproduct] [int] NOT NULL,
	[idphone] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[IdHistory] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NOT NULL,
	[IdMethod] [int] NULL,
	[IdStatusDelivery] [int] NULL,
	[IdStatusPayment] [int] NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[IdHistory] ASC,
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[idimage] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[idproduct] [int] NOT NULL,
 CONSTRAINT [PK_image] PRIMARY KEY CLUSTERED 
(
	[idimage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[infoorder]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infoorder](
	[IdOrder] [int] NOT NULL,
	[IdProduct] [int] NULL,
	[Amount] [int] NULL,
	[Total] [decimal](18, 0) NULL,
	[Color] [nvarchar](50) NULL,
	[Phone] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[methodpayment]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[methodpayment](
	[IdMethod] [int] IDENTITY(1,1) NOT NULL,
	[NameMethod] [nvarchar](50) NULL,
 CONSTRAINT [PK_MethodPayment] PRIMARY KEY CLUSTERED 
(
	[IdMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[IdNews] [int] IDENTITY(1,1) NOT NULL,
	[Header] [nvarchar](max) NULL,
	[Thumnail] [nvarchar](500) NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[IdNews] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[DateOrder] [datetime] NULL,
	[Total] [decimal](18, 0) NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [decimal](10, 0) NULL,
	[Address] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[idStatus] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentStatus] PRIMARY KEY CLUSTERED 
(
	[idStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phone](
	[idphone] [int] IDENTITY(1,1) NOT NULL,
	[namephone] [nvarchar](500) NULL,
	[idphonebrand] [int] NULL,
 CONSTRAINT [PK_Phone] PRIMARY KEY CLUSTERED 
(
	[idphone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phonebrand]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phonebrand](
	[idphonebrand] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_phonebrand] PRIMARY KEY CLUSTERED 
(
	[idphonebrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 6/2/2021 12:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[idproduct] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[idphonebrand] [int] NOT NULL,
	[price] [decimal](18, 0) NULL,
	[desciption] [nvarchar](max) NULL,
	[amount] [int] NULL,
	[casebrand] [nvarchar](50) NULL,
	[sold] [int] NULL,
	[dateadded] [datetime] NULL,
 CONSTRAINT [PK_case] PRIMARY KEY CLUSTERED 
(
	[idproduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([username], [password]) VALUES (N'admin', N'Anhducle')
INSERT [dbo].[Admin] ([username], [password]) VALUES (N'admin2', N'Anhducle')
INSERT [dbo].[Admin] ([username], [password]) VALUES (N'admin3', N'Anhducle')
GO
INSERT [dbo].[color] ([idproduct], [color]) VALUES (1, N'Đen')
INSERT [dbo].[color] ([idproduct], [color]) VALUES (1, N'Đỏ')
INSERT [dbo].[color] ([idproduct], [color]) VALUES (1, N'Xanh dương')
GO
INSERT [dbo].[DeliveryStatus] ([idStatus], [name]) VALUES (1, N'Đang lấy hàng')
INSERT [dbo].[DeliveryStatus] ([idStatus], [name]) VALUES (2, N'Đang vận chuyển')
INSERT [dbo].[DeliveryStatus] ([idStatus], [name]) VALUES (3, N'Đã giao')
GO
INSERT [dbo].[device] ([idproduct], [idphone]) VALUES (1, 247)
INSERT [dbo].[device] ([idproduct], [idphone]) VALUES (1, 248)
INSERT [dbo].[device] ([idproduct], [idphone]) VALUES (2, 249)
GO
SET IDENTITY_INSERT [dbo].[history] ON 

INSERT [dbo].[history] ([IdHistory], [IdOrder], [IdMethod], [IdStatusDelivery], [IdStatusPayment]) VALUES (1, 1, 1, 2, 1)
INSERT [dbo].[history] ([IdHistory], [IdOrder], [IdMethod], [IdStatusDelivery], [IdStatusPayment]) VALUES (2, 2, 1, 2, 1)
INSERT [dbo].[history] ([IdHistory], [IdOrder], [IdMethod], [IdStatusDelivery], [IdStatusPayment]) VALUES (3, 3, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[history] OFF
GO
INSERT [dbo].[image] ([idimage], [name], [idproduct]) VALUES (1, N'1.1.png', 1)
INSERT [dbo].[image] ([idimage], [name], [idproduct]) VALUES (2, N'1.2.png', 1)
INSERT [dbo].[image] ([idimage], [name], [idproduct]) VALUES (3, N'1.3.png', 1)
GO
INSERT [dbo].[infoorder] ([IdOrder], [IdProduct], [Amount], [Total], [Color], [Phone]) VALUES (1, 1, 3, CAST(20000 AS Decimal(18, 0)), N'red', 277)
INSERT [dbo].[infoorder] ([IdOrder], [IdProduct], [Amount], [Total], [Color], [Phone]) VALUES (1, 2, 3, CAST(22222 AS Decimal(18, 0)), N'blue', 300)
INSERT [dbo].[infoorder] ([IdOrder], [IdProduct], [Amount], [Total], [Color], [Phone]) VALUES (1, 3, 3, CAST(444444 AS Decimal(18, 0)), N'green', 280)
GO
SET IDENTITY_INSERT [dbo].[methodpayment] ON 

INSERT [dbo].[methodpayment] ([IdMethod], [NameMethod]) VALUES (1, N'COD')
INSERT [dbo].[methodpayment] ([IdMethod], [NameMethod]) VALUES (2, N'MOMO')
SET IDENTITY_INSERT [dbo].[methodpayment] OFF
GO
SET IDENTITY_INSERT [dbo].[news] ON 

INSERT [dbo].[news] ([IdNews], [Header], [Thumnail], [Detail]) VALUES (1, N'ana', N'ss', N'sssss')
SET IDENTITY_INSERT [dbo].[news] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([IdOrder], [DateOrder], [Total], [Name], [Phone], [Address], [Message]) VALUES (1, CAST(N'2021-03-03T00:00:00.000' AS DateTime), CAST(200000 AS Decimal(18, 0)), N'anh duc', CAST(397067907 AS Decimal(10, 0)), N'thu duc', N'ddajsdaksj')
INSERT [dbo].[orders] ([IdOrder], [DateOrder], [Total], [Name], [Phone], [Address], [Message]) VALUES (2, CAST(N'2021-05-26T13:00:00.000' AS DateTime), CAST(200000 AS Decimal(18, 0)), N'dddd', CAST(909090090 AS Decimal(10, 0)), N'sdasdasd', N'sdjhajkdhakjhd')
INSERT [dbo].[orders] ([IdOrder], [DateOrder], [Total], [Name], [Phone], [Address], [Message]) VALUES (3, CAST(N'2021-05-25T00:00:00.000' AS DateTime), CAST(200000 AS Decimal(18, 0)), N'mmmm', CAST(909090909 AS Decimal(10, 0)), N'dakjhdkash', N'hduiahuidaysui')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
INSERT [dbo].[PaymentStatus] ([idStatus], [name]) VALUES (1, N'Chưa thanh toán')
INSERT [dbo].[PaymentStatus] ([idStatus], [name]) VALUES (2, N'Đã thanh toán')
GO
SET IDENTITY_INSERT [dbo].[Phone] ON 

INSERT [dbo].[Phone] ([idphone], [namephone], [idphonebrand]) VALUES (247, N'Mi 10T Pro', 1)
INSERT [dbo].[Phone] ([idphone], [namephone], [idphonebrand]) VALUES (248, N'Redmi K30s', 1)
INSERT [dbo].[Phone] ([idphone], [namephone], [idphonebrand]) VALUES (249, N'Mi 10T Lite', 1)
GO
SET IDENTITY_INSERT [dbo].[Phone] OFF
GO
INSERT [dbo].[phonebrand] ([idphonebrand], [name]) VALUES (1, N'Xiaomi')
INSERT [dbo].[phonebrand] ([idphonebrand], [name]) VALUES (2, N'Realme')
INSERT [dbo].[phonebrand] ([idphonebrand], [name]) VALUES (3, N'Oppo')
GO
SET IDENTITY_INSERT [dbo].[product] ON 

SET IDENTITY_INSERT [dbo].[product] OFF
GO
ALTER TABLE [dbo].[color]  WITH CHECK ADD  CONSTRAINT [FK_color_case] FOREIGN KEY([idproduct])
REFERENCES [dbo].[product] ([idproduct])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[color] CHECK CONSTRAINT [FK_color_case]
GO
ALTER TABLE [dbo].[device]  WITH CHECK ADD  CONSTRAINT [FK_device_Phone] FOREIGN KEY([idphone])
REFERENCES [dbo].[Phone] ([idphone])
GO
ALTER TABLE [dbo].[device] CHECK CONSTRAINT [FK_device_Phone]
GO
ALTER TABLE [dbo].[device]  WITH CHECK ADD  CONSTRAINT [FK_device_product] FOREIGN KEY([idproduct])
REFERENCES [dbo].[product] ([idproduct])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[device] CHECK CONSTRAINT [FK_device_product]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK_history_DeliveryStatus] FOREIGN KEY([IdStatusDelivery])
REFERENCES [dbo].[DeliveryStatus] ([idStatus])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK_history_DeliveryStatus]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK_history_methodpayment] FOREIGN KEY([IdMethod])
REFERENCES [dbo].[methodpayment] ([IdMethod])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK_history_methodpayment]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK_history_orders] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[orders] ([IdOrder])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK_history_orders]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK_history_PaymentStatus] FOREIGN KEY([IdStatusPayment])
REFERENCES [dbo].[PaymentStatus] ([idStatus])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK_history_PaymentStatus]
GO
ALTER TABLE [dbo].[image]  WITH CHECK ADD  CONSTRAINT [FK_image_case1] FOREIGN KEY([idproduct])
REFERENCES [dbo].[product] ([idproduct])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[image] CHECK CONSTRAINT [FK_image_case1]
GO
ALTER TABLE [dbo].[infoorder]  WITH CHECK ADD  CONSTRAINT [FK_infoorder_orders] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[orders] ([IdOrder])
GO
ALTER TABLE [dbo].[infoorder] CHECK CONSTRAINT [FK_infoorder_orders]
GO
ALTER TABLE [dbo].[infoorder]  WITH CHECK ADD  CONSTRAINT [FK_infoorder_Phone] FOREIGN KEY([Phone])
REFERENCES [dbo].[Phone] ([idphone])
GO
ALTER TABLE [dbo].[infoorder] CHECK CONSTRAINT [FK_infoorder_Phone]
GO
ALTER TABLE [dbo].[infoorder]  WITH CHECK ADD  CONSTRAINT [FK_infoorder_product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[product] ([idproduct])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[infoorder] CHECK CONSTRAINT [FK_infoorder_product]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_case_phonebrand] FOREIGN KEY([idphonebrand])
REFERENCES [dbo].[phonebrand] ([idphonebrand])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_case_phonebrand]
GO
