<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="bg-light">
        <div class="container-fluid">
            <h1 class="text-center text-info" style="padding-top:50px"><strong>Về chúng tôi</strong></h1>
            <div class=" row justify-content-around">
                <div class="col-3 center card shadow-lg about">
                    <div class="text-center about-img">
                        <img class="img-circle" src="../image/duc.jpg" width="230px" height="230px">
                    </div>
                    <h1 class="text-center"><strong>Phạm Minh Sang</strong></h1>
                    <ul>
                        <li>Email: harley20005@gmail.com</li>
                        <li>MSSV: 1811240476</li>
                        <li>Lớp: 18DTHJB1</li>
                    </ul>
                </div>
                <div class="col-3 center card shadow-lg about">
                    <div class="text-center about-img">
                        <img class="img-circle" src="../image/duc.jpg" width="230px" height="230px">
                    </div>
                    <h1 class="text-center"><strong>Lê Anh Đức</strong></h1>
                    <ul>
                        <li>Email: ducle6487@gmail.com</li>
                        <li>MSSV: 1811062916</li>
                        <li>Lớp: 18DTHJB1</li>
                    </ul>
                </div>
                <div class="col-3 center card shadow-lg about">
                    <div class="text-center about-img">
                        <img class="img-circle" src="../image/duc.jpg" width="230px" height="230px">
                    </div>
                    <h1 class="text-center"><strong>Nguyen Hoang quaan</strong></h1>
                    <ul>
                        <li>Email: ducle6487@gmail.com</li>
                        <li>MSSV: 1811062916</li>
                        <li>Lớp: 18DTHJB1</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>