<!doctype html>
<html lang="en">

<head>
	<title>Tables | Klorofil - Free Bootstrap Dashboard Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../assets/css/main.css">

	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/styleanhduc.css" />
	<link rel="stylesheet" href="../css/responsive.css" />
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="icon" type="image/png" sizes="96x96" href="../image/phone-case.png">
</head>
<style>
	th {
		cursor: pointer
	}

	a:link {
		text-decoration: none;
		color: cornflowerblue
	}

	a:visited {
		text-decoration: none;
		color: cornflowerblue
	}

	a:hover {
		text-decoration: underline;
		color: blue
	}

	a:active {
		text-decoration: underline;
		color: blue
	}
</style>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand" style="padding: 8px 39px;">
				<a th:href="@{/admin/dashboard}"><img src="../image/iconic.png" alt="Icase Logo"
						class="img-responsive logo"></a>
			</div>

			<div class="container-fluid">

				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
									src="https://img.icons8.com/bubbles/100/000000/admin-settings-male.png"
									class="img-circle" alt="Avatar"> <span>[[${username}]]</span> <i
									class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a th:href="@{/sign-out}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a th:href="@{/admin/dashboard}" class=""><i class="lnr lnr-home"></i> <span>Tổng
									quan</span></a></li>
						<li><a th:href="@{/admin/all-product}" class=""><i class="lnr lnr-dice"></i> <span>Sản
									phẩm</span></a></li>
						<li>
							<a th:href="@{/admin/all-order}" class="active"><i class="lnr lnr-file-empty"></i> <span>Đơn
									hàng</span></i></a>
						</li>
						<li><a th:href="@{/admin/product-edit}" class=""><i class="lnr lnr-code"></i> <span>Cập nhật sản
									phẩm</span></a></li>

					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">



					<div class="col-md-12">
						<!-- TABLE HOVER -->
						<div class="panel">
							<div class="panel-heading">
								<h3 class="panel-title">Lịch sử mua hàng</h3>
							</div>
							<div class="panel-body">
								<table id="table" class="table table-hover">
									<thead>
										<tr>
											<th onclick="sortTable(0)">Mã đơn hàng</th>
											<th onclick="sortTable(1)">Tên khách hàng</th>
											<th onclick="sortTable(2)">Số điện thoại</th>
											<th onclick="sortTable(3)">Địa chỉ</th>
											<th onclick="sortTable(4)">Ngày đặt</th>
											<th onclick="sortTable(5)">Lời nhắn</th>
											<th onclick="sortTable(6)">Tổng giá trị</th>
											<th onclick="sortTable(7)">Phương thức thanh toán</th>
											<th onclick="sortTable(8)">Trạng thái thanh toán</th>
											<th onclick="sortTable(9)">Trạng thái vận chuyển</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each=" ord : ${orderhistories}">
											<td th:text="${ord.idorder}"></td>
											<td th:text="${ord.namecustomer}"></td>
											<td th:text="'0'+${ord.phone}"></td>
											<td th:text="${ord.address}"></td>
											<td th:text="${ord.dateorder}"></td>
											<td th:text="${ord.message}"></td>
											<td
												th:text="${#numbers.formatDecimal(ord.totalPrice, 0, 'COMMA', 0, 'POINT')}">
											</td>
											<td th:text="${ord.methodpayment}"></td>
											<td th:switch="${ord.paymentstatus}">
												<span th:case="'Chưa thanh toán'" th:text="${ord.paymentstatus}"
													class="label label-danger"></span>
												<span th:case="'Đã thanh toán'" th:text="${ord.paymentstatus}"
													class="label label-success"></span>
											</td>
											<td th:switch="${ord.deliverystatus}">
												<span th:case="'Đang lấy hàng'" th:text="${ord.deliverystatus}"
													class="label label-warning"></span>
												<span th:case="'Đang vận chuyển'" th:text="${ord.deliverystatus}"
													class="label label-warning"></span>
												<span th:case="'Đã giao'" th:text="${ord.deliverystatus}"
													class="label label-success"></span>
												<span th:case="'Đã hủy'" th:text="${ord.deliverystatus}"
													class="label label-danger"></span>
											</td>
											<td><a th:href="'/admin/detail-order&id='+${ord.idorder}">Chi tiết ></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- END TABLE HOVER -->
					</div>


				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2021 Icase Admin
					Page. Made by Anh Duc.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../assets/vendor/jquery/jquery.min.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/scripts/klorofil-common.js"></script>
	<script>
		function sortTable(n) {
			var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
			table = document.getElementById("table");
			switching = true;
			// Set the sorting direction to ascending:
			dir = "asc";
			/* Make a loop that will continue until
			no switching has been done: */
			while (switching) {
				// Start by saying: no switching is done:
				switching = false;
				rows = table.rows;
				/* Loop through all table rows (except the
				first, which contains table headers): */
				for (i = 1; i < (rows.length - 1); i++) {
					// Start by saying there should be no switching:
					shouldSwitch = false;
					/* Get the two elements you want to compare,
					one from current row and one from the next: */
					x = rows[i].getElementsByTagName("TD")[n];
					y = rows[i + 1].getElementsByTagName("TD")[n];
					/* Check if the two rows should switch place,
					based on the direction, asc or desc: */
					if (dir == "asc") {
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
							// If so, mark as a switch and break the loop:
							shouldSwitch = true;
							break;
						}
					} else if (dir == "desc") {
						if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
							// If so, mark as a switch and break the loop:
							shouldSwitch = true;
							break;
						}
					}
				}
				if (shouldSwitch) {
					/* If a switch has been marked, make the switch
					and mark that a switch has been done: */
					rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
					switching = true;
					// Each time a switch is done, increase this count by 1:
					switchcount++;
				} else {
					/* If no switching has been done AND the direction is "asc",
					set the direction to "desc" and run the while loop again. */
					if (switchcount == 0 && dir == "asc") {
						dir = "desc";
						switching = true;
					}
				}
			}
		}
	</script>
</body>

</html>