<!doctype html>
<html lang="en">

<head>
	<title>Product | Icase</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="../assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="../assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- <link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet" /> -->
	<!-- ICONS -->

	<!-- <link rel="stylesheet" href="../css/bootstrap.css" /> -->
	<link rel="stylesheet" href="../css/font-awesome.css" />

	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/styleanhduc.css" />
	<link rel="stylesheet" href="../css/responsive.css" />

	<link rel="icon" type="image/png" sizes="96x96" href="../image/phone-case.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand" style="padding: 8px 39px;">
				<a th:href="@{/admin/dashboard}"><img src="../image/iconic.png" alt="Icase Logo"
						class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<!-- <li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li> -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
									src="https://img.icons8.com/bubbles/100/000000/admin-settings-male.png"
									class="img-circle" alt="Avatar"> <span>[[${username}]]</span> <i
									class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a th:href="@{/sign-out}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a th:href="@{/admin/dashboard}" class=""><i class="lnr lnr-home"></i> <span>Tổng
									quan</span></a></li>
						<li><a th:href="@{/admin/all-product}" class="active"><i class="lnr lnr-dice"></i> <span>Sản
									phẩm</span></a></li>
						<li>
							<a th:href="@{/admin/all-order}" class=""><i class="lnr lnr-file-empty"></i> <span>Đơn
									hàng</span></i></a>
						</li>
						<li><a th:href="@{/admin/product-edit}" class=""><i class="lnr lnr-code"></i> <span>Cập
									nhật
									sản
									phẩm</span></a></li>

					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">Sản phẩm đang bán</h3>

					<div class="col-md-12">

						<div class="row">
							<!-- start 1 product -->
							<div class="col-xl-1 col-lg-2 col-md-2 col-8" th:each=" product : ${products}">
								<div class="single-product">
									<div class="product-img">
										<a href="product-details.html">
											<img class="default-img"
												th:src="@{'../imageCase/'+${product.idProduct}+'.1.png'}" alt="#" />
											<img class="hover-img"
												th:src="@{'../imageCase/'+${product.idProduct}+'.2.png'}" alt="#" />
										</a>
										<div class="button-head">
											<!-- <div class="product-action"> -->
											<!-- <a data-toggle="modal" data-target="#exampleModal" title="Quick View"
													href="#"><i class="ti-eye"></i><span>Quick Shop</span></a> -->
											<!-- <a title="edit" href="#">Edit</a> -->
											<!-- <a title="remove" href="#">Remove</a> -->
											<!-- </div> -->
											<div class="product-action-2">
												<a title="Add to cart" href="#">&nbsp;&nbsp; &nbsp;&nbsp; Chi tiết
													&nbsp;&nbsp;</a>
												<a title="edit"
													th:href="@{'/admin/product-edit&id='+${product.idProduct}}">Chỉnh
													sửa
													&nbsp;&nbsp;</a>
												<a title="remove"
													onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');"
													th:href="'/delete-product&id='+${product.idProduct}">Xóa</a>
											</div>
										</div>
									</div>
									<div class="product-content">
										<h3>
											<a style="overflow : hidden;
											text-overflow: ellipsis;
											display: -webkit-box;
											-webkit-line-clamp: 2;
											-webkit-box-orient: vertical;min-height: 50px;" id="nameproduct"
												th:href="@{'/admin/product-edit&id='+${product.idProduct}}"
												th:text="${product.nameProduct}"></a>
										</h3>
										<div class="product-price">
											<span>[[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]]
												VNĐ</span>

										</div>
									</div>
								</div>
							</div>
							<!-- end 1 product -->

						</div>

					</div>

				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2021 Icase Admin
					Page. Made by Anh Duc.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->

	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery-migrate-3.0.0.js"></script>
	<script src="../js/jquery-ui.min.js"></script>

	<script src="../js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<!-- <script src="js/owl-carousel.js"></script> -->
	<!-- Magnific Popup JS -->
	<script src="../js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<!-- <script src="js/waypoints.min.js"></script> -->
	<!-- Countdown JS -->
	<!-- <script src="js/finalcountdown.min.js"></script> -->
	<!-- Nice Select JS -->
	<script src="../js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<!-- <script src="js/flex-slider.js"></script> -->
	<!-- ScrollUp JS -->
	<script src="../js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<!-- <script src="js/onepage-nav.min.js"></script> -->
	<!-- Easing JS -->
	<script src="../js/easing.js"></script>
	<!-- Active JS -->
	<script src="../js/active.js"></script>


	<!-- <script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script> -->
</body>

</html>