<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="bg-light">
        <div class="container " >
            <!-- Detail product main -->
            <div class="row bg-white">
                <!-- image product -->
                <div class="col-5 box-470-715 border img-prod">
                    <img src="../image/994990793756.jpeg" width="450px" height="450px">
                </div>
                <!--  -->
                <!-- Infor product -->
                <div class="col-7  prod-infor border">
                    <div>
                        <h2 class="prod-infor-title">Ốp chống sốc cầm tay xoay 360 độ có khay cài bút Apple Pencil 2 kèm giá đỡ 
                        dựng ngang dọc cho iPad Pro 11 inch 2018/2020- Hàng chính hãng</h2>
                    </div>
                    <div class="row">
                        <div class="col-6 prod-infor-amount bg-light">
                            <div class="text-center">
                                <p><strong>358.000 VND</strong></p>
                            </div>
                        </div>
                        <div class="col-5 text-center">
                            <p>Số lượng còn: 10 cái</p>
                        </div>
                    </div>
                    <div class="prod-infor-detail">
                        <h4>Thông tin chi tiết</h4>
                        <div class="prod-infor-detail-table">
                            <ul>
                                <li class="bg-light row">
                                    <p class="col-6">Thương hiệu</p>
                                    <p class="col-6">SlimeBox</p>
                                </li>
                                <li class="bg-white row">
                                    <p class="col-6">Xuất xứ thương hiệu</p>
                                    <p class="col-6">Việt Nam</p>
                                </li>
                                <li class="bg-light row">
                                    <p class="col-6">Thương hiệu thiết bị phù hợp</p>
                                    <p class="col-6">Apple iPad</p>
                                </li>
                                <li class="bg-white row">
                                    <p class="col-6">Thiết bị phù hợp</p>
                                    <p class="col-6">iPad Pro 11 inch</p>
                                </li>
                            </ul>
                        </div>
                    </div>  
                    <div class="prod-buy text-center">
                        <div class="prod-buy-select">
                            <button class="border">-</button>
                            <input type="text" placeholder="0" class="text-center"style="width:40px" >
                            <button class="border">+</button>
                        </div>
                        <div class="prod-buy-button">
                            <button class="btn btn-danger">Buy</button>
                        </div>
                    </div>  
                </div>

                <!--  -->
            </div>
            <!--  -->
            <!-- Goi y -->
            <div class="bg-white">
                        <!--  -->
                <div class="product-title">
                    <h3 class="product-text">Gợi ý</h3>
                    <div class="product-space"></div>
                    <a href="#" class="product-text-continute">Xem Thêm</a>
                </div>
                <!--  -->
                <!-- Content -->
                <div class="search-content row justify-content-around">
                    <div class="card-product">
                        <div class="col-3 box-240-315 ">
                            <a href="#"><img src="../image/240x315.jpg " width="240px" height="240px"></a>
                            <div class="text-center card-product-text">
                                <a href="#" >bao da ipad vjp pro htht hthth hthth htht</a>
                                <p>Price: <span class="text-danger">400.000</span> VND</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-product">
                        <div class="col-3 box-240-315 ">
                            <a href="#"><img src="../image/240x315.jpg " width="240px" height="240px"></a>
                            <div class="text-center card-product-text">
                                <a href="#" >bao da ipad vjp pro htht hthth hthth htht</a>
                                <p>Price: <span class="text-danger">400.000</span> VND</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-product">
                        <div class="col-3 box-240-315 ">
                            <a href="#"><img src="../image/240x315.jpg " width="240px" height="240px"></a>
                            <div class="text-center card-product-text">
                                <a href="#" >bao da ipad vjp pro htht hthth hthth htht</a>
                                <p>Price: <span class="text-danger">400.000</span> VND</p>
                            </div>
                        </div>
                    </div><div class="card-product">
                        <div class="col-3 box-240-315 ">
                            <a href="#"><img src="../image/240x315.jpg " width="240px" height="240px"></a>
                            <div class="text-center card-product-text">
                                <a href="#" >bao da ipad vjp pro htht hthth hthth htht</a>
                                <p>Price: <span class="text-danger">400.000</span> VND</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--  -->
            </div>
            <!--  -->
            <!-- Mo ta -->
            <div class="prod-describer bg-white">
                <h5>Thông tin chi tiết</h5>
                <p>Bảo vệ toàn diện cho máy với các góc silicon dầy dặn nhô cao hơn mặt máy
                    Mâm đế xoay 360 độ với dây đai tăng giảm tuỳ theo kích cỡ của bàn tay, thuận tiện cho công việc giữ máy bằng một tay
                    Ốp có kèm khay cài bút Apple Pencil 2, giữ nguyên tính năng sạc không dây của bút và máy
                    Có thiết kế lỗ xỏ dây đeo vai tiện lợi khi đi công trình, nhà xưởng (lưu ý sản phẩm không kèm dây đeo)
                    Khe cắm, nút bấm đều được đậy kín nút không sợ bụi bẩn
                    Lưu ý: iPad Pro 11in 2018/2020 được thiết kế dùng chung và ốp không có lớp phủ màn hình</p>
            </div>
            <!-- comments -->
            <div class="prod-comments bg-white">
                <h5>Đánh giá, nhận xét</h5>
                <div class="prod-comments-contain">
                    <!--  -->
                    <div class="prod-comment">
                        <div class="row">
                            <div class="col-6 row">
                                <div class="col-4 text-center">
                                    <img src="../image/duc.jpg" class="img-circle"width="70px" height="70px">
                                </div>
                                <div class="col-8">
                                    <p><strong>Lee Anh DDuwcs</strong></p>
                                    <p class="text-secondary" style="font-size: 18px;">ddax tham gia 10 naw mtruowcs</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <p>Mâm đế xoay 360 độ với dây đai tăng giảm tuỳ theo kích cỡ của bàn tay,
                                     thuận tiện cho công việc giữ máy bằng một tay</p>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="prod-comment">
                        <div class="row">
                            <div class="col-6 row">
                                <div class="col-4 text-center">
                                    <img src="../image/duc.jpg" class="img-circle"width="70px" height="70px">
                                </div>
                                <div class="col-8">
                                    <p><strong>Lee Anh DDuwcs</strong></p>
                                    <p class="text-secondary" style="font-size: 18px;">ddax tham gia 10 naw mtruowcs</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <p>Mâm đế xoay 360 độ với dây đai tăng giảm tuỳ theo kích cỡ của bàn tay,
                                     thuận tiện cho công việc giữ máy bằng một tay</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

</body>
</html>