<!doctype html>
<html lang="en">

<head>
    <title>Tables | Klorofil - Free Bootstrap Dashboard Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../assets/css/main.css">

    <link rel="stylesheet" href="../css/reset.css" />
    <!-- <link rel="stylesheet" href="../css/styleanhduc.css" /> -->
    <link rel="stylesheet" href="../css/responsive.css" />
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="icon" type="image/png" sizes="96x96" href="../image/phone-case.png">
</head>
<style>
    a:link {
        text-decoration: none;
        color: cornflowerblue
    }

    a:visited {
        text-decoration: none;
        color: cornflowerblue
    }

    a:hover {
        text-decoration: underline;
        color: blue
    }

    a:active {
        text-decoration: underline;
        color: blue
    }
</style>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand" style="padding: 8px 39px;">
                <a th:href="@{/admin/dashboard}"><img src="../image/iconic.png" alt="Icase Logo"
                        class="img-responsive logo"></a>
            </div>

            <div class="container-fluid">

                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img
                                    src="https://img.icons8.com/bubbles/100/000000/admin-settings-male.png"
                                    class="img-circle" alt="Avatar"> <span>[[${username}]]</span> <i
                                    class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                                <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                                <li><a th:href="@{/sign-out}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                        <!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a th:href="@{/admin/dashboard}" class=""><i class="lnr lnr-home"></i> <span>Tổng
                                    quan</span></a></li>
                        <li><a th:href="@{/admin/all-product}" class=""><i class="lnr lnr-dice"></i> <span>Sản
                                    phẩm</span></a></li>
                        <li>
                            <a th:href="@{/admin/all-order}" class="active"><i class="lnr lnr-file-empty"></i> <span>Đơn
                                    hàng</span></i></a>
                        </li>
                        <li><a th:href="@{/admin/product-edit}" class=""><i class="lnr lnr-code"></i> <span>Cập nhật sản
                                    phẩm</span></a></li>

                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">



                    <div class="col-md-12">
                        <div class="container">

                            <section class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Thông tin cơ bản</h3>
                                </div>
                                <div class="panel-body">

                                    <form action="designer-finish.html" class="form-horizontal" role="form">

                                        <div class="form-group">
                                            <label for="qty" class="col-sm-3 control-label">Mã đơn hàng</label>
                                            <div class="col-sm-3">
                                                <input disabled th:value="${order.idorder}" type="text"
                                                    class="form-control" name="qty" id="qty">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-sm-3 control-label">Tên khách hàng</label>
                                            <div class="col-sm-5">
                                                <input disabled th:value="${order.namecustomer}" type="text"
                                                    class="form-control" name="name" id="name">
                                            </div>
                                        </div> <!-- form-group // -->
                                        <div class="form-group">
                                            <label for="qty" class="col-sm-3 control-label">Số điện thoại</label>
                                            <div class="col-sm-3">
                                                <input disabled th:value="'0'+${order.phone}" type="text"
                                                    class="form-control" name="qty" id="qty">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="qty" class="col-sm-3 control-label">Ngày đặt hàng</label>
                                            <div class="col-sm-3">
                                                <input disabled th:value="${order.dateorder}" type="text"
                                                    class="form-control" name="qty" id="qty">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="qty" class="col-sm-3 control-label">Phương thức thanh
                                                toán</label>
                                            <div class="col-sm-3">
                                                <input disabled th:value="${order.methodpayment}" type="text"
                                                    class="form-control" name="qty" id="qty">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="qty" class="col-sm-3 control-label">Địa chỉ</label>
                                            <div class="col-sm-9">
                                                <input disabled th:value="${order.address}" type="text"
                                                    class="form-control" name="qty" id="qty">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="about" class="col-sm-3 control-label">Lời nhắn</label>
                                            <div class="col-sm-9">
                                                <textarea disabled placeholder="Không để lại lời nhắn..."
                                                    th:text="${order.message}" class="form-control"></textarea>
                                            </div>
                                        </div> <!-- form-group // -->
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Trạng thái</label>
                                            <div class="col-sm-3">
                                                <label class="control-label small" for="date_start">Thanh toán: </label>
                                                <input disabled th:value="${order.deliverystatus}" type="text"
                                                    class="form-control" name="date_start" id="date_start">
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="control-label small" for="date_finish">Vận chuyển:</label>
                                                <input disabled th:value="${order.paymentstatus}" type="text"
                                                    class="form-control" name="date_finish" id="date_finish">
                                            </div>
                                        </div> <!-- form-group // -->
                                        <hr>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-6 row" style="text-align: center;">
                                                <div style="float: left; width: 50%;text-align: center;"
                                                    th:switch="${order.deliverystatus}">
                                                    <div th:case="'Đang lấy hàng'">
                                                        <a th:href="'/change-to-shipping&id='+${order.idorder}"
                                                            th:if="${order.methodpayment} != 'MOMO' and ${order.paymentstatus} == 'Chưa thanh toán'"><button
                                                                type="button" class="btn btn-warning">Xác nhận vận
                                                                chuyển</button></a>
                                                        <a th:href="'/change-to-shipping&id='+${order.idorder}"
                                                            th:if="${order.methodpayment} == 'MOMO' and ${order.paymentstatus} != 'Chưa thanh toán'"><button
                                                                type="button" class="btn btn-warning">Xác nhận vận
                                                                chuyển</button></a>

                                                        <div style="height: 10px;"></div>
                                                        <a th:href="'/change-to-decline&id='+${order.idorder}"><button
                                                                type="button" class="btn btn-danger">Xác nhận đã
                                                                hủy</button></a>
                                                    </div>
                                                    <div th:case="'Đang vận chuyển'">
                                                        <a th:href="'/change-to-accept&id='+${order.idorder}"><button
                                                                type="button" class="btn btn-success">Xác nhận đã
                                                                nhận</button></a>
                                                        <div style="height: 10px;"></div>
                                                        <a th:href="'/change-to-decline&id='+${order.idorder}"><button
                                                                type="button" class="btn btn-danger">Xác nhận đã
                                                                hủy</button></a>
                                                    </div>

                                                </div>

                                                <div style="float: left ;width: 50%;text-align: center;"
                                                    th:switch="${order.paymentstatus}">
                                                    <a th:href="'/change-to-payed&id='+${order.idorder}"><button
                                                            th:case="'Chưa thanh toán'"
                                                            th:unless="${order.methodpayment} == 'COD'" type="button"
                                                            class="btn btn-success">Xác nhận đã thanh toán</button></a>
                                                    <!-- <button th:case="'Đã thanh toán'" type="submit"
                                                        class="btn btn-primary">Xác nhận chưa thanh toán</button> -->

                                                </div>
                                            </div>
                                        </div> <!-- form-group // -->
                                    </form>

                                </div><!-- panel-body // -->
                            </section><!-- panel// -->
                            <section class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Danh sách sản phẩm</h3>
                                </div>
                                <div class="panel-body">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Mã sản phẩm</th>
                                                <th>Số lượng</th>
                                                <th>Tổng giá</th>
                                                <th>Màu</th>
                                                <th>Thiết bị</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="inf : ${infoorder}">
                                                <td th:text="${inf.idproduct}"></td>
                                                <td th:text="${inf.amount}"></td>
                                                <td
                                                    th:text="${#numbers.formatDecimal(inf.total, 0, 'COMMA', 0, 'POINT')}">
                                                </td>
                                                <td th:text="${inf.color}"></td>
                                                <td th:text="${inf.phone}"></td>
                                                <td><a th:href="'#'">Chi tiết ></a></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div><!-- panel-body // -->
                            </section><!-- panel// -->

                        </div> <!-- container// -->
                    </div>


                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2021 Icase Admin
                    Page. Made by Anh Duc.</p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="../assets/scripts/klorofil-common.js"></script>
    <script src="../js/scrollup.js"></script>
</body>

</html>