<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fonts/fontawesome-free-5.15.0/css/all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Đồ Án Java</title>
</head>

<body>
    <header class="header">
        <div class="header-banner">
            <div class="header-banner-diachi">
                <i class="fas fa-map-marker-alt header-banner-diachi-icon"></i>
                <p class="header-banner-text">395 Phan Văn Trị, Phường 11, Bình Thạnh</p>
            </div>
            <div class="header-banner-giolamviec">
                <i class="far fa-clock header-banner-giolamviec-icon"></i>
                <p class="header-banner-text">Giờ làm việc: 8:30-23:00</p>
            </div>
            <div class="header-banner-conlai">
                <a href="#" class="header-link">
                    <div class="header-banner-content">
                        <i class="far fa-bell header-banner-conlai-icon"></i>
                        <p class="header-banner-content-text">
                            Thông Báo
                        </p>
                    </div>
                </a>
                <a href="#" class="header-link">
                    <div class="header-banner-content">
                        <i class="fas fa-shopping-cart header-banner-conlai-icon"></i>
                        <p class="header-banner-content-text">
                            Giỏ Hàng
                        </p>
                    </div>
                </a>
                <div class="header-banner-content header-banner-content-1">
                    <a href="">
                        <p class="header-banner-content-register">
                            Đăng Ký
                        </p>
                    </a>
                    <a href="">
                        <p class="header-banner-content-login">
                            Đăng Nhập
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-contain">
            <img src="../image/header-logo.jpeg" alt="" class="header-img">
            <div class="header-contain-search">
                <form id="" name="">
                    <div class="input-group" id="btn-search">
                        <input class=" header-search-input" type="text" name="subscribe_email" id="subscribe_email" placeholder="Nhập từ khóa..." />
                        <span class="input-group-btn">
                            <button class=" header-search-btn" id="btn" name="subscribe_btn"><i class="fas fa-search header-search-icon"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <nav class="header-navbar" style="background-color: #ccc;">
            <ul class="header-navbar-list">
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item-last-child">Trang chủ</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="main">
        <div class="giohangvathanhtoan row">
            <div class="sanpham-giohang col-6">
                <div class="sanpham-giohang-place">
                    <p class="sanpham-giohang-title">Giỏ hàng của bạn</p>
                    <div class="sanpham-giohang-content">
                        <img src="../image/994990793756.jpeg" alt="">
                        <div class="sanpham-giohang-text">
                            <div class="sanpham-giohang-text-left">
                                <p class="sanpham-giohang-text-left-heading">Kính cường lực Samsung A50</p>
                                <a href=""><i class="fas fa-times-circle"></i>Bỏ Sản phẩm</a>
                                <p>
                                    Siêu cứng cáp chuẩn 9H ngang ngữa Sapphire Không giòn, không bị biến dạng
                                </p>
                            </div>
                            <div class="sanphamgiohang-space"></div>
                            <div class="sanpham-giohang-text-right">
                                <p class="sanpham-giohang-text-right-price">
                                    198.00đ
                                </p>
                                <div class="sanpham-giohang-text-right-count">
                                    <p>-</p>
                                    <input type="text" class="" value="2" />
                                    <p>+</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="sanpham-giohang-total">
                        <p class="sanpham-giohang-total-text">
                            Tổng tiền:
                        </p>
                        <p class="sanpham-giohang-total-price">
                            150.000đ
                        </p>
                    </div>
                </div>
            </div>
            <div class="thanhtoan col-6">
                <div class="thanhtoan-place">
                    <p class="sanpham-giohang-title">Thông tin giao hàng:</p>
                    <div class="information-cart">
                        <div class="input-cart">
                            <input type="text" name="ten" placeholder="Họ tên của bạn" class="inp-cart" required>
                            <input type="number" name="dienthoai" placeholder="Số điện thoại của bạn" class="inp-cart inp-number" required>

                        </div>
                        <div class="select-cart">
                            <select required name="tinhthanh" onchange="load_quanhuyen(this.value);" class="sel-cart sel-tinhthanh">
										<option value="">Tỉnh/thành phố</option>
																					<option value="1">Hồ Chí Minh</option>
																					<option value="2">Hà Nội</option>
																					<option value="3">Bình Dương</option>
																					<option value="4">Đà Nẵng</option>
																					<option value="5">Hải Phòng</option>
																					<option value="6">Long An</option>
																					<option value="7">Bà Rịa Vũng Tàu</option>
																					<option value="8">An Giang</option>
																					<option value="9">Bắc Giang</option>
																					<option value="10">Bắc Kạn</option>
																					<option value="11">Bạc Liêu</option>
																					<option value="12">Bắc Ninh</option>
																					<option value="13">Bến Tre</option>
																					<option value="14">Bình Định</option>
																					<option value="15">Bình Phước</option>
																					<option value="16">Bình Thuận  </option>
																					<option value="17">Cà Mau</option>
																					<option value="18">Cần Thơ</option>
																					<option value="19">Cao Bằng</option>
																					<option value="20">Đắk Lắk</option>
																					<option value="22">Điện Biên</option>
																					<option value="23">Đồng Nai</option>
																					<option value="24">Đồng Tháp</option>
																					<option value="25">Gia Lai</option>
																					<option value="26">Hà Giang</option>
																					<option value="27">Hà Nam</option>
																					<option value="28">Hà Tĩnh</option>
																					<option value="29">Hải Dương</option>
																					<option value="30">Hậu Giang</option>
																					<option value="31">Hòa Bình</option>
																					<option value="32">Hưng Yên</option>
																					<option value="33">Khánh Hòa</option>
																					<option value="34">Kiên Giang</option>
																					<option value="35">Kon Tum</option>
																					<option value="36">Lai Châu</option>
																					<option value="37">Lâm Đồng</option>
																					<option value="38">Lạng Sơn</option>
																					<option value="39">Lào Cai</option>
																					<option value="40">Nam Định</option>
																					<option value="41">Nghệ An</option>
																					<option value="42">Ninh Bình</option>
																					<option value="43">Ninh Thuận</option>
																					<option value="44">Phú Thọ</option>
																					<option value="45">Phú Yên</option>
																					<option value="46">Quảng Bình</option>
																					<option value="47">Quảng Nam</option>
																					<option value="48">Quảng Ngãi</option>
																					<option value="49">Quảng Ninh</option>
																					<option value="50">Quảng Trị</option>
																					<option value="51">Sóc Trăng</option>
																					<option value="52">Sơn La</option>
																					<option value="53">Tây Ninh</option>
																					<option value="54">Thái Bình</option>
																					<option value="55">Thái Nguyên</option>
																					<option value="56">Thanh Hóa</option>
																					<option value="57">Thừa Thiên Huế</option>
																					<option value="58">Tiền Giang</option>
																					<option value="59">Trà Vinh</option>
																					<option value="60">Tuyên Quang</option>
																					<option value="61">Vĩnh Long</option>
																					<option value="62">Vĩnh Phúc</option>
																					<option value="63">Yên Bái</option>
																			</select>
                            <select required name="quanhuyen" onchange="load_phuongxa(this.value);" class="sel-cart sel-quanhuyen">
										<option value="">Quận/huyện</option>
									</select>
                            <select required name="phuongxa" class="sel-cart sel-phuongxa">
										<option value="">Phường/xã</option>
									</select>
                        </div>
                        <textarea name="diachi" placeholder="Địa chỉ của bạn" required></textarea>
                        <textarea name="noidung" placeholder="Yêu cầu khác (không bắt buộc)" required></textarea>
                    </div>
                    <div class="httt">
                        <form>
                            <div class="check_ht">
                                <input type="radio" name="httt" value="1" id="ht1" checked>
                                <div class="tt_info">
                                    <b>Thanh toán qua ngân hàng</b>
                                </div>
                            </div>
                            <div class="htinfo ht1" style="display: block;margin-bottom: 10px;">
                                <p>Test ng&acirc;n h&agrave;ng</p>
                            </div>
                            <div class="check_ht">
                                <input type="radio" name="httt" id="ht2" value="0">
                                <div class="tt_info">
                                    <b>Thanh toán khi nhận hàng (COD)</b>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="htinfo ht2">
                                <p>Test nhận h&agrave;ng</p>
                            </div>
                        </form>
                    </div>
                    <input type="submit" class="thanhtoan-btn bgcart" name="thanhtoan" value="Hoàn tất đặt hàng">
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="container-fluid footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Toán</strong></h4>
                    <p><a href="#">Hình học</a></p>
                    <p><a href="#">Tuyến tính</a></p>
                    <p><a href="#">Xác suất</a></p>
                    <p><a href="#">IQ</a></p>
                    <p><a href="#">Logic</a></p>
                    <p><a href="#">Giải tích</a></p>
                    <p><a href="#">Đồ thị</a></p>
                    <p><a href="#">Hàm số</a></p>
                </div>
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Tiếng anh</strong></h4>
                    <p><a href="#">IELTS</a></p>
                    <p><a href="#">TOEFL</a></p>
                    <p><a href="#">BASIC</a></p>
                    <p><a href="#">SPEAKING</a></p>
                    <p><a href="#">READING</a></p>
                    <p><a href="#">LISTENING</a></p>
                    <h4 class="footer-tittle-col"><strong>Vật lý</strong></h4>
                    <p><a href="#">Đại cương</a></p>
                    <p><a href="#">Nâng cao</a></p>
                </div>
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Lập trình</strong></h4>
                    <p><a href="#">C/C++</a></p>
                    <p><a href="#">Java</a></p>
                    <p><a href="#">C#</a></p>
                    <p><a href="#">Kotlin</a></p>
                    <p><a href="#">Ruby</a></p>
                    <p><a href="#">Javascript</a></p>
                    <p><a href="#">Html/Css</a></p>
                    <h4 class="footer-tittle-col"><strong>Bắt đầu</strong></h4>
                    <p><a href="@Url.Action(" UserLogin ","Authenticate ", new{URL = Request.Url.ToString()})">Đăng ký</a></p>
                    <p><a href="@Url.Action(" UserLogin ","Authenticate ", new{URL = Request.Url.ToString()})">Đăng nhập</a></p>
                </div>
                <div class="col-6 ">
                    <div class="contact">
                        <h3><strong>Liên hệ với chúng tôi!</strong></h3>
                        <p>Email: harley20005@gmail.com <br>hoặc: ducle6487@gmail.com</p>
                        <h4><strong>Kết nối với chúng tôi</strong></h4>
                        <div>
                            <img class="img-circle" onclick="location.href='https://www.facebook.com/ducle6487'" src="~/Content/Image/Facebook-200x200.jpg" width="80px" height="80px">
                            <img class="img-circle" src="~/Content/Image/Twitter-1.jpg" width="80px" height="80px">
                            <img class="img-circle" src="~/Content/Image/zalo_sharelogo.png" width="80px" height="80px">
                        </div>
                    </div>
                    <div class="copyright">Copyright &copy; Sang - Đức</div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>