<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fonts/fontawesome-free-5.15.0/css/all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Đồ Án Java</title>
</head>

<body>
    <header class="header">
        <div class="header-banner">
            <div class="header-banner-diachi">
                <i class="fas fa-map-marker-alt header-banner-diachi-icon"></i>
                <p class="header-banner-text">395 Phan Văn Trị, Phường 11, Bình Thạnh</p>
            </div>
            <div class="header-banner-giolamviec">
                <i class="far fa-clock header-banner-giolamviec-icon"></i>
                <p class="header-banner-text">Giờ làm việc: 8:30-23:00</p>
            </div>
            <div class="header-banner-conlai">
                <a href="#" class="header-link">
                    <div class="header-banner-content">
                        <i class="far fa-bell header-banner-conlai-icon"></i>
                        <p class="header-banner-content-text">
                            Thông Báo
                        </p>
                    </div>
                </a>
                <a href="#" class="header-link">
                    <div class="header-banner-content">
                        <i class="fas fa-shopping-cart header-banner-conlai-icon"></i>
                        <p class="header-banner-content-text">
                            Giỏ Hàng
                        </p>
                    </div>
                </a>
                <div class="header-banner-content header-banner-content-1">
                    <a href="">
                        <p class="header-banner-content-register">
                            Đăng Ký
                        </p>
                    </a>
                    <a href="">
                        <p class="header-banner-content-login">
                            Đăng Nhập
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-contain">
            <img src="../image/header-logo.jpeg" alt="" class="header-img">
            <div class="header-contain-search">
                <form id="" name="">
                    <div class="input-group" id="btn-search">
                        <input class=" header-search-input" type="text" name="subscribe_email" id="subscribe_email" placeholder="Nhập từ khóa..." />
                        <span class="input-group-btn">
                            <button class=" header-search-btn" id="btn" name="subscribe_btn"><i class="fas fa-search header-search-icon"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <nav class="header-navbar" style="background-color: #ccc;">
            <ul class="header-navbar-list">
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">Trang chủ</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item-last-child">Trang chủ</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="main">
        <div class="giohangtrong">
            <img src="image/images.png" alt="">
            <p>
                Không có sản phẩm nào trong giỏ hàng
            </p>
            <a href="" class="giohangtrong-link">
                Tiếp tục mua sắm
            </a>
        </div>
    </div>
    <footer class="container-fluid footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Toán</strong></h4>
                    <p><a href="#">Hình học</a></p>
                    <p><a href="#">Tuyến tính</a></p>
                    <p><a href="#">Xác suất</a></p>
                    <p><a href="#">IQ</a></p>
                    <p><a href="#">Logic</a></p>
                    <p><a href="#">Giải tích</a></p>
                    <p><a href="#">Đồ thị</a></p>
                    <p><a href="#">Hàm số</a></p>
                </div>
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Tiếng anh</strong></h4>
                    <p><a href="#">IELTS</a></p>
                    <p><a href="#">TOEFL</a></p>
                    <p><a href="#">BASIC</a></p>
                    <p><a href="#">SPEAKING</a></p>
                    <p><a href="#">READING</a></p>
                    <p><a href="#">LISTENING</a></p>
                    <h4 class="footer-tittle-col"><strong>Vật lý</strong></h4>
                    <p><a href="#">Đại cương</a></p>
                    <p><a href="#">Nâng cao</a></p>
                </div>
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Lập trình</strong></h4>
                    <p><a href="#">C/C++</a></p>
                    <p><a href="#">Java</a></p>
                    <p><a href="#">C#</a></p>
                    <p><a href="#">Kotlin</a></p>
                    <p><a href="#">Ruby</a></p>
                    <p><a href="#">Javascript</a></p>
                    <p><a href="#">Html/Css</a></p>
                    <h4 class="footer-tittle-col"><strong>Bắt đầu</strong></h4>
                    <p><a href="@Url.Action(" UserLogin ","Authenticate ", new{URL = Request.Url.ToString()})">Đăng ký</a></p>
                    <p><a href="@Url.Action(" UserLogin ","Authenticate ", new{URL = Request.Url.ToString()})">Đăng nhập</a></p>
                </div>
                <div class="col-6 ">
                    <div class="contact">
                        <h3><strong>Liên hệ với chúng tôi!</strong></h3>
                        <p>Email: harley20005@gmail.com <br>hoặc: ducle6487@gmail.com</p>
                        <h4><strong>Kết nối với chúng tôi</strong></h4>
                        <div>
                            <img class="img-circle" onclick="location.href='https://www.facebook.com/ducle6487'" src="~/Content/Image/Facebook-200x200.jpg" width="80px" height="80px">
                            <img class="img-circle" src="~/Content/Image/Twitter-1.jpg" width="80px" height="80px">
                            <img class="img-circle" src="~/Content/Image/zalo_sharelogo.png" width="80px" height="80px">
                        </div>
                    </div>
                    <div class="copyright">Copyright &copy; Sang - Đức</div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>