	<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>ICASE - Đổi Mới Thiết Bị Của Bạn</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="image/favicon.ico">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- StyleSheet -->
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="fonts/fontawesome-free-5.15.0/css/all.min.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="css/niceselect.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">



</head>

<body class="js">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->


   <!-- Header -->
    <header class="header shop">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <!-- Top Left -->
                        <div class="top-left">
                            <ul class="list-main">
                                <li><i class="ti-location-pin"></i> 395 Phan Văn Trị, Phường 11, Bình Thạnh</li>
                            </ul>
                        </div>
                        <!--/ End Top Left -->
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <!-- Top Right -->
                        <div class="right-content">
                            <ul class="list-main">
                                <li><i class="ti-alarm-clock"></i> Giờ làm việc: 8:30-23:00</li>
                                <li><i class="ti-bell"></i><a href="#">Thông Báo</a></li>
                                <li><i class="ti-shopping-cart"></i> <a th:href="@{/giohang}">Giỏ Hàng</a></li>
                                <li><i class="ti-power-off"></i><a href="login.html#">Đăng Nhập</a></li>
                            </ul>
                        </div>
                        <!-- End Top Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a th:href="@{/home}"><img src="/image/logo.gif" alt="logo"></a>
                        </div>
                        <!--/ End Logo -->
                        	<!-- Search Form -->
						<div class="search-top">
							<div class="top-search">
								<a href="#0"><i class="ti-search"></i></a>
							</div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form" >
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit">
										<i class="ti-search"></i>
									</button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<form th:action="@{/product/search}"  method="post">
									<input name="search" placeholder="Tìm sản phẩm" th:name="searchText"
										type="text">
									<button class="btnn" type="submit">
										<i class="ti-search"></i>
									</button>
								</form>
							</div>
						</div>
					</div>	
                    <div class="col-lg-1 col-md-2 col-12">
                        <div class="right-bar">
                            <!-- Search Form -->
                            <div class="sinlge-bar">
                                <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="sinlge-bar">
                                <a href="#" class="single-icon"><i class="fa fa-user-circle-o"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div class="sinlge-bar shopping">
                                <a th:href="@{/giohang}" class="single-icon"><i class="ti-bag"></i> <span
                                        class="total-count">2</span></a>
                                <!-- Shopping Item -->
                                <div class="shopping-item">
                                    <div class="dropdown-cart-header">
                                        <span th:text="${cartcount}">2 Items</span>
                                        <a th:href="@{/giohang}">View Cart</a>
                                    </div>
                                    <ul class="shopping-list">
                                        <li th:each="giohang : ${cart}">
                                            <a href="#" class="remove" title="Remove this item"><i
                                                    class="fa fa-remove"></i></a>
                                            <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70"
                                                    alt="#"></a>
                                            <h4><a href="#" th:text="${giohang.getName}">Woman Ring</a></h4>
                                            <p class="quantity">1x - <span class="amount">$99.00</span></p>
                                        </li>

                                    </ul>
                                    <div class="bottom">
                                        <div class="total">
                                            <span>Total</span>
                                            <span class="total-amount">$134.00</span>
                                        </div>
                                        <a href="checkout.html" class="btn animate">Checkout</a>
                                    </div>
                                </div>
                                <!--/ End Shopping Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-9 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li><a th:href="@{/home}">Trang Chủ</a></li>
                                                <li ><a th:href="@{/product}">Sản Phẩm</a></li>
                                                <li><a href="#">Shop<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown ">
                                                        <li><a th:href="@{/giohang}">Giỏ Hàng</a></li>
                                                        <li><a th:href="@{/giohang+thanhtoan}">Thanh Toán</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Hãng<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown">
                                                        <div th:each="phonebrands : ${listPhoneBrands}">
                                                            <li><a th:text="${phonebrands.getName}"></a>
                                                                <ul class="dropright">
                                                                    <div class="div-grid">
                                                                        <li th:each="phones : ${listPhones}">
                                                                        	<th:block th:if="${phonebrands.idPhoneBrand == phones.idPhoneBrand}">
                                                                              <a  th:href="@{|/product/phone=${phones.getIdphone}|}"
                                                                                class="a-trong"
                                                                                th:text="${phones.getNamephone}"></a>
                                                                            </th:block>
                                                                        </li>
                                                                    </div>
                                                                </ul>
                                                            </li>
                                                        </div>
                                                    </ul>
                                                </li>
                                                <li class="active"><a th:href="@{/news}">Bài viết</a></li>
                                                <li ><a href="contact.html">Liên Hệ</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->
	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="bread-inner">
							<ul class="bread-list">
								<li><a th:href="@{/home}">Trang Chủ<i class="ti-arrow-right"></i></a></li>
								<li class="active"><a th:href="@{/giohang+thanhtoan}">Thanh Toán</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
				
		<!-- Start Checkout -->
		<section class="shop checkout section">
			<div class="container">
				<div class="row"> 
					<div class="col-lg-8 col-12">
						<div class="checkout-form">
							<h2>Make Your Checkout Here</h2>
							<p>Please register in order to checkout more quickly</p>
							<!-- Form -->
							<form class="form" th:action="@{/thanhtoan}" th:object="${user}" method="post">
								<div class="row">
									<div class="col-lg-7 col-md-7 col-12">
										<div class="form-group">
											<label>Họ Và Tên<span>*</span></label>
											<input type="text" name="name" placeholder="" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Số Điện Thoại<span>*</span></label>
											<input type="number" name="number" placeholder="" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Tỉnh / Thành Phố<span>*</span></label>
											<select name="tinhthanh" onchange="Render()" id="tinhthanh">
												<option value="">Tỉnh / Thành Phố</option>
													<option value="Hồ Chí Minh">Hồ Chí Minh</option>
													<option value="2">Hà Nội</option>
													<option value="3">Bình Dương</option>
													<option value="4">Đà Nẵng</option>
													<option value="5">Hải Phòng</option>
													<option value="6">Long An</option>
													<option value="7">Bà Rịa Vũng Tàu</option>
													<option value="8">An Giang</option>
													<option value="9">Bắc Giang</option>
													<option value="10">Bắc Kạn</option>
													<option value="11">Bạc Liêu</option>
													<option value="12">Bắc Ninh</option>
													<option value="13">Bến Tre</option>
													<option value="14">Bình Định</option>
													<option value="15">Bình Phước</option>
													<option value="16">Bình Thuận  </option>
													<option value="17">Cà Mau</option>
													<option value="18">Cần Thơ</option>
													<option value="19">Cao Bằng</option>
													<option value="20">Đắk Lắk</option>
													<option value="22">Điện Biên</option>
													<option value="23">Đồng Nai</option>
													<option value="24">Đồng Tháp</option>
													<option value="25">Gia Lai</option>
													<option value="26">Hà Giang</option>
													<option value="27">Hà Nam</option>
													<option value="28">Hà Tĩnh</option>
													<option value="29">Hải Dương</option>
													<option value="30">Hậu Giang</option>
													<option value="31">Hòa Bình</option>
													<option value="32">Hưng Yên</option>
													<option value="33">Khánh Hòa</option>
													<option value="34">Kiên Giang</option>
													<option value="35">Kon Tum</option>
													<option value="36">Lai Châu</option>
													<option value="37">Lâm Đồng</option>
													<option value="38">Lạng Sơn</option>
													<option value="39">Lào Cai</option>
													<option value="40">Nam Định</option>
													<option value="41">Nghệ An</option>
													<option value="42">Ninh Bình</option>
													<option value="43">Ninh Thuận</option>
													<option value="44">Phú Thọ</option>
													<option value="45">Phú Yên</option>
													<option value="46">Quảng Bình</option>
													<option value="47">Quảng Nam</option>
													<option value="48">Quảng Ngãi</option>
													<option value="49">Quảng Ninh</option>
													<option value="50">Quảng Trị</option>
													<option value="51">Sóc Trăng</option>
													<option value="52">Sơn La</option>
													<option value="53">Tây Ninh</option>
													<option value="54">Thái Bình</option>
													<option value="55">Thái Nguyên</option>
													<option value="56">Thanh Hóa</option>
													<option value="57">Thừa Thiên Huế</option>
													<option value="58">Tiền Giang</option>
													<option value="59">Trà Vinh</option>
													<option value="60">Tuyên Quang</option>
													<option value="61">Vĩnh Long</option>
													<option value="62">Vĩnh Phúc</option>
													<option value="63">Yên Bái</option>
											</select>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
											<label>Quận / Huyện<span>*</span></label>
											<select name="quanhuyen" id="quanhuyen" style="display: block">
												<option value="0">Quận / Huyện</option>
											</select>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Phường / Xã<span>*</span></label>
											<select name="phuongxa" id="phuongxa" style="display: block">
												<option value="0">Phường / Xã</option>
												<option value="1">Hiệp phú</option>
											</select>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Địa chỉ của bạn<span>*</span></label>
											<input type="text" name="address" placeholder="" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<label>Yêu cầu khác</label>
											<input type="text" name="message" placeholder="" required="required">
										</div>
									</div>		
									<div class="col-12">
									<button type="submit" class="btn" value="Thanh Toán">proceed to checkout</button>
									</div>
								</div>
							</form>
							<!--/ End Form -->
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="order-details">
							<!-- Order Widget -->
							<div class="single-widget">
								<h2>Hóa Đơn</h2>
								<div class="content">
									<ul>
										<li>Tiền Hóa Đơn<span>$330.00</span></li>
										<li>(+) Shipping<span>$10.00</span></li>
										<li class="last">Tổng Tiền<span>$340.00</span></li>
									</ul>
								</div>
							</div>
							<!--/ End Order Widget -->
							<!-- Order Widget -->
							<div class="single-widget">
								<h2>Phương thức thanh toán</h2>
								<div class="content">
									<div class="checkbox">
										<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox" checked> Thanh Toán Khi Giao Hàng</label>
										<label class="checkbox-inline" for="1"><input name="updates" id="1" type="checkbox" disabled> Thanh Toán Bằng Điện Thoại</label>
										<label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox" disabled> Thanh Toán Bằng Thẻ</label>
									</div>
								</div>
							</div>
							<!--/ End Order Widget -->
							<!-- Payment Method Widget -->
							<div class="single-widget payement">
								<div class="content">
									<img src="image/payment-method.png" alt="#">
								</div>
							</div>
							<!--/ End Payment Method Widget -->
							<!-- Button Widget -->
							<!--/ End Button Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Checkout -->
		
		<!-- Start Shop Services Area  -->
		<section class="shop-services section home">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-rocket"></i>
							<h4>Free shiping</h4>
							<p>Orders over $100</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-reload"></i>
							<h4>Free Return</h4>
							<p>Within 30 days returns</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-lock"></i>
							<h4>Sucure Payment</h4>
							<p>100% secure payment</p>
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="ti-tag"></i>
							<h4>Best Peice</h4>
							<p>Guaranteed price</p>
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Shop Services -->
		<!-- Start Footer Area -->
		<footer class="footer">
			<!-- Footer Top -->
			<div class="footer-top section">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer about">
								<div class="logo">
									<a href="index.html"><img src="images/logo2.png" alt="#"></a>
								</div>
								<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
								<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
							</div>
							<!-- End Single Widget -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer links">
								<h4>Information</h4>
								<ul>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Faq</a></li>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
							<!-- End Single Widget -->
						</div>
						<div class="col-lg-2 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer links">
								<h4>Customer Service</h4>
								<ul>
									<li><a href="#">Payment Methods</a></li>
									<li><a href="#">Money-back</a></li>
									<li><a href="#">Returns</a></li>
									<li><a href="#">Shipping</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>
							<!-- End Single Widget -->
						</div>
						<div class="col-lg-3 col-md-6 col-12">
							<!-- Single Widget -->
							<div class="single-footer social">
								<h4>Get In Tuch</h4>
								<!-- Single Widget -->
								<div class="contact">
									<ul>
										<li>NO. 342 - London Oxford Street.</li>
										<li>012 United Kingdom.</li>
										<li>info@eshop.com</li>
										<li>+032 3456 7890</li>
									</ul>
								</div>
								<!-- End Single Widget -->
								<ul>
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-flickr"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
								</ul>
							</div>
							<!-- End Single Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Footer Top -->
			<div class="copyright">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="left">
									<p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
								</div>
							</div>
							<div class="col-lg-6 col-12">
								<div class="right">
									<img src="images/payments.png" alt="#">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- /End Footer Area -->
 
	<!-- Jquery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="js/magnific-popup.js"></script>
	<!-- Fancybox JS -->
	<script src="js/facnybox.min.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="js/nicesellect.js"></script>
	<!-- Ytplayer JS -->
	<script src="js/ytplayer.min.js"></script>
	<!-- Flex Slider JS -->
	<script src="js/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.js"></script>
	<!-- Active JS -->
	<script src="js/active.js"></script>
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
			var list = /*[[${HoChiMinh}]]*/ "Test1";
		/*[[${thu}]]*/ "Test1" = list;
		/*]]>*/
        var x = document.getElementById('tinhthanh');
        var t = document.getElementById('quanhuyen');
        var z = document.getElementById('phuongxa');
        var n = x.options[x.selectedIndex].value;
        var u = x.selectedIndex;
        function Render()
        {
        	if((x.options[x.selectedIndex].value.localeCompare("Hồ Chí Minh"))==0)
        			{
        		alert(x.options[x.selectedIndex].value);
        		for(var i=0;i<list.length;i++){
               		 t.options[t.options.length] = new Option(list[i], list[i]);
        		}
        	}	
             }
       
    </script>
</body>
</html>