<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fonts/fontawesome-free-5.15.0/css/all.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../image/favicon-32x32.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Đồ Án Java</title>
</head>

<body>
    <header class="header">
        <div class="header-banner">
            <div class="header-banner-diachi">
                <i class="fas fa-map-marker-alt header-banner-diachi-icon"></i>
                <p class="header-banner-text">395 Phan Văn Trị, Phường 11, Bình Thạnh</p>
            </div>
            <div class="header-banner-giolamviec">
                <i class="far fa-clock header-banner-giolamviec-icon"></i>
                <p class="header-banner-text">Giờ làm việc: 8:30-23:00</p>
            </div>
            <div class="header-banner-conlai">
                <a href="#" class="header-link">
                    <div class="header-banner-content">
                        <i class="far fa-bell header-banner-conlai-icon"></i>
                        <p class="header-banner-content-text">
                            Thông Báo
                        </p>
                    </div>
                </a>
                <a href="#" class="header-link">
                    <div class="header-banner-content">
                        <i class="fas fa-shopping-cart header-banner-conlai-icon"></i>
                        <p class="header-banner-content-text">
                            Giỏ Hàng
                        </p>
                    </div>
                </a>
                <div class="header-banner-content header-banner-content-1">
                    <a href="">
                        <p class="header-banner-content-register">
                            Đăng Ký
                        </p>
                    </a>
                    <a href="">
                        <p class="header-banner-content-login">
                            Đăng Nhập
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-contain">
            <img src="../image/header-logo.jpeg" alt="" class="header-img">
            <div class="header-contain-search">
                <form id="" name="">
                    <div class="input-group" id="btn-search">
                        <input class=" header-search-input" type="text" name="subscribe_email" id="subscribe_email" placeholder="Nhập từ khóa..." />
                        <span class="input-group-btn">
                            <button class=" header-search-btn" id="btn" name="subscribe_btn"><i class="fas fa-search header-search-icon"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <nav class="header-navbar">
            <ul class="header-navbar-list">
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item ">Trang chủ</li>

                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item">giới thiệu</li>
                </a>
                <a href="#" class="header-navbar-link header-navbar-link-1">
                    <li class="header-navbar-item">phụ kiện
                        <ul class="header-navbar-item-list">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </li>
                </a>
                <a href="#" class="header-navbar-link header-navbar-link-2">
                    <li class="header-navbar-item header-navbar-item-position">Hãng
                        <ul class="header-navbar-item-list-1">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item header-navbar-item-position-1">tin tức</li>
                </a>
                <a href="#" class="header-navbar-link">
                    <li class="header-navbar-item-last-child">liên hệ</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="main ">
        <div class="slider row">
            <div class="slider-img-2-3 col-9">
                <div class="slider-inner">
                    <img src="../image/0283362319.png" alt="">
                    <img src="../image/2232712176.png" alt="">
                    <img src="../image/9179459548.png" alt="">
                </div>
            </div>
            <div class="slider-img-1-3 col-3" style="background-color: white;">
                <div class="slider-img-1-3-content">
                    <img src="../image/240x315.jpg" alt="" class="slider-img-1-3-img">
                    <div class="slider-img-1-3-title">
                        <p class="slider-img-1-3-text">
                            bao da ipad vjp pro htht hthth hthth htht
                        </p>
                        <p class="slider-img-1-3-price">
                            400.00VND
                        </p>
                    </div>
                </div>
                <div class="slider-img-1-3-content">
                    <img src="../image/240x315.jpg" alt="" class="slider-img-1-3-img">
                    <div class="slider-img-1-3-title">
                        <p class="slider-img-1-3-text">
                            bao da ipad vjp pro htht hthth hthth htht
                        </p>
                        <p class="slider-img-1-3-price">
                            400.00VND
                        </p>
                    </div>
                </div>
                <div class="slider-img-1-3-content">
                    <img src="../image/240x315.jpg" alt="" class="slider-img-1-3-img">
                    <div class="slider-img-1-3-title">
                        <p class="slider-img-1-3-text">
                            bao da ipad vjp pro htht hthth hthth htht
                        </p>
                        <p class="slider-img-1-3-price">
                            400.00VND
                        </p>
                    </div>
                </div>
                <div class="slider-img-1-3-content">
                    <img src="../image/240x315.jpg" alt="" class="slider-img-1-3-img">
                    <div class="slider-img-1-3-title">
                        <p class="slider-img-1-3-text">
                            bao da ipad vjp pro htht hthth hthth htht
                        </p>
                        <p class="slider-img-1-3-price">
                            400.00VND
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-main">
            <div class="product-title">
                <h3 class="product-text">Phụ kiện điện thoại</h3>
                <div class="product-space"></div>
                <a href="#" class="product-text-continute">Xem Thêm</a>
            </div>
        </div>
        <div class="search-content row">
            <div class="col-md-3 card-product">
                <div class="box-240-315 ">
                    <img src="../image/header-logo.jpeg " width="240px" height="240px">
                    <div class="text-center card-product-text">
                        <a href="#">bao da ipad vjp pro htht hthth hthth htht</a>
                        <p>Price: <span class="text-danger">400.000</span> VND</p>
                    </div>
                </div>

            </div>
            <div class="col-3  card-product ">
                <div class=" box-240-315 ">
                    <img src="../image/240x315.jpg " width="240px" height="240px">
                    <div class="text-center card-product-text">
                        <a href="#">bao da ipad vjp pro htht hthth hthth htht</a>
                        <p>Price: <span class="text-danger">400.000</span> VND</p>
                    </div>
                </div>
            </div>
            <div class="col-3 card-product ">
                <div class=" box-240-315 ">
                    <img src="../image/240x315.jpg " width="240px" height="240px">
                    <div class="text-center card-product-text">
                        <a href="#">bao da ipad vjp pro htht hthth hthth htht</a>
                        <p>Price: <span class="text-danger">400.000</span> VND</p>
                    </div>
                </div>
            </div>
            <div class="col-3  card-product ">
                <div class=" box-240-315 ">
                    <img src="../image/240x315.jpg " width="240px" height="240px">
                    <div class="text-center card-product-text">
                        <a href="#">bao da ipad vjp pro htht hthth hthth htht</a>
                        <p>Price: <span class="text-danger">400.000</span> VND</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="news">
        <div class="news-heading">
            tin tức
        </div>
        <div class="slider row">
            <div class="slider-img-2-3 col-9">
                <div class="slider-inner slider-inner-news">
                    <img src="../image/0283362319.png" alt="">
                    <img src="../image/2232712176.png" alt="">
                    <img src="../image/9179459548.png" alt="">
                </div>
            </div>
            <div class="slider-img-1-3 col-3" style="background-color: white;">
                <div class="slider-img-1-3-content">
                    <img src="../image/240x315.jpg" alt="" class="slider-img-1-3-img">
                    <div class="slider-img-1-3-title">
                        <p class="slider-img-1-3-text">
                            bao da ipad vjp pro htht hthth hthth htht
                        </p>
                        <p class="slider-img-1-3-price">
                            4500.00VND
                        </p>
                    </div>
                </div>
                <div class="slider-img-1-3-content">
                    <img src="../image/240x315.jpg" alt="" class="slider-img-1-3-img">
                    <div class="slider-img-1-3-title">
                        <p class="slider-img-1-3-text">
                            bao da ipad vjp pro htht hthth hthth htht
                        </p>
                        <p class="slider-img-1-3-price">
                            4100.00VND
                        </p>
                    </div>
                </div>
                <div class="slider-img-1-3-content">
                    <img src="../image/240x315.jpg" alt="" class="slider-img-1-3-img">
                    <div class="slider-img-1-3-title">
                        <p class="slider-img-1-3-text">
                            bao da ipad vjp pro htht hthth hthth htht
                        </p>
                        <p class="slider-img-1-3-price">
                            4300.00VND
                        </p>
                    </div>
                </div>
                <div class="slider-img-1-3-content">
                    <img src="../image/240x315.jpg" alt="" class="slider-img-1-3-img">
                    <div class="slider-img-1-3-title">
                        <p class="slider-img-1-3-text">
                            bao da ipad vjp pro htht hthth hthth htht
                        </p>
                        <p class="slider-img-1-3-price">
                            4200.00VND
                        </p>
                    </div>
                </div>
                <div class="slider-img-1-3-content">
                    <img src="../image/240x315.jpg" alt="" class="slider-img-1-3-img">
                    <div class="slider-img-1-3-title">
                        <p class="slider-img-1-3-text">
                            bao da ipad vjp pro htht hthth hthth htht
                        </p>
                        <p class="slider-img-1-3-price">
                            400.00VND
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Toán</strong></h4>
                    <p><a href="#">Hình học</a></p>
                    <p><a href="#">Tuyến tính</a></p>
                    <p><a href="#">Xác suất</a></p>
                    <p><a href="#">IQ</a></p>
                    <p><a href="#">Logic</a></p>
                    <p><a href="#">Giải tích</a></p>
                    <p><a href="#">Đồ thị</a></p>
                    <p><a href="#">Hàm số</a></p>
                </div>
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Tiếng anh</strong></h4>
                    <p><a href="#">IELTS</a></p>
                    <p><a href="#">TOEFL</a></p>
                    <p><a href="#">BASIC</a></p>
                    <p><a href="#">SPEAKING</a></p>
                    <p><a href="#">READING</a></p>
                    <p><a href="#">LISTENING</a></p>
                    <h4 class="footer-tittle-col"><strong>Vật lý</strong></h4>
                    <p><a href="#">Đại cương</a></p>
                    <p><a href="#">Nâng cao</a></p>
                </div>
                <div class="col-2 footer-col-link">
                    <h4 class="footer-tittle-col"><strong>Lập trình</strong></h4>
                    <p><a href="#">C/C++</a></p>
                    <p><a href="#">Java</a></p>
                    <p><a href="#">C#</a></p>
                    <p><a href="#">Kotlin</a></p>
                    <p><a href="#">Ruby</a></p>
                    <p><a href="#">Javascript</a></p>
                    <p><a href="#">Html/Css</a></p>
                    <h4 class="footer-tittle-col"><strong>Bắt đầu</strong></h4>
                    <p><a href="@Url.Action(" UserLogin ","Authenticate ", new{URL = Request.Url.ToString()})">Đăng ký</a></p>
                    <p><a href="@Url.Action(" UserLogin ","Authenticate ", new{URL = Request.Url.ToString()})">Đăng nhập</a></p>
                </div>
                <div class="col-6 ">
                    <div class="contact">
                        <h3><strong>Liên hệ với chúng tôi!</strong></h3>
                        <p>Email: harley20005@gmail.com <br>hoặc: ducle6487@gmail.com</p>
                        <h4><strong>Kết nối với chúng tôi</strong></h4>
                        <div>
                            <img class="img-circle" onclick="location.href='https://www.facebook.com/ducle6487'" src="~/Content/Image/Facebook-200x200.jpg" width="80px" height="80px">
                            <img class="img-circle" src="~/Content/Image/Twitter-1.jpg" width="80px" height="80px">
                            <img class="img-circle" src="~/Content/Image/zalo_sharelogo.png" width="80px" height="80px">
                        </div>
                    </div>
                    <div class="copyright">Copyright &copy; Sang - Đức</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
    <script>
        $('.slider-inner').slick({
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear',
            autoplay: true,
            autoplaySpeed: 2000,
        });
        $(".slider-img-1-3").slick({
            dots: false,
            autoplay: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            vertical: true,
            arrows: false,
            autoplaySpeed: 1500
        });
    </script>
</body>

</html>